{% extends 'galepr/header.html' %}


{% block content %}
				<div class="right-inner">
				{% for article1 in latest_article_list|slice:":1" %}
					<div class="title">{{article1.title}}</div>
					<div class="authdet">
						<span class="day">{{article1.publication}} | </span><span class="author">{{article1.author}}</span>
					</div>
					
					<img class="ls-img img-responsive" src="/static/images/{{article1.heroImg}}" />
					
					<div class="descr">
					{{article1.body}}
					</div>
				
				{% endfor %}
				
				{% for article in latest_article_list|slice:"1:" %}
					<div class="article-list">
						<div class="number">
							<div><span>{{forloop.counter}}</span></div>
						</div>
						<div class="article-thumb">
							<div class="title-name">
								<a href="{{article.id}}">{{article.title}}</a>
							</div>
							<div class="desc">
								{{article.body}}
								<span class="clickable"><a href="{{article.id}}">Click for details!</a></span>
							</div>
						</div>
					</div>
					
				{% endfor %}
					
					
				
				{% block carousel %}
					{% include "galepr/whatNext.html" %}
				{% endblock %}
					
					
					
					
        		</div>
{% endblock %}
