{% extends 'galepr/header.html' %}

{% block content %}
				<div class="right-inner">
					<div class="title">{{article_detail.title}}</div>
					<div class="authdet">
						<span class="day">{{article_detail.publication}} | </span><span class="author">{{article_detail.author}}</span> | <span>{{article_detail.category}}</span> 
					</div>
					
					<img class="ls-img img-responsive" src="/static/images/{{article_detail.heroImg}}" />
					
					<div class="descr">
						<div class="lf">{{article_detail.body|safe|linebreaks}}</div>
						<div class="rh"><img src="/static/images/{{article_detail.optImg}}" /></div>
					</div>
					
					
					
					{% block carousel %}
						{% include "galepr/whatNext.html" %}
					{% endblock %}
					
        		</div>
{% endblock %}
