<! Doctype html >
<html lang="en">

<head>
	<title>Articles</title>
	
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"  type="text/css" >
	<link rel="stylesheet" href="{% static 'css/custom.css' %}"  type="text/css" >
	<link rel=icon href="{% static 'images/favicon.png' %}" sizes="16x16" type="image/png">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<style>
	body{
		padding-top:15px;
		padding-bottom:15px;
	}

	</style>
    
</head>

<body>
    <div class="container-fluid">
	<div class="row">
			<div class="left-col col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="left-inner">
					<img class="sq-img img-responsive" src="/static/images/6sq.jpg" />	
					
					<div class="menu">
						<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</div>
					
					<div class="navs">
						<img src="/static/images/1sq.png" />
						<div class="navlabel">Nav1</div>
						<img src="/static/images/5sq.jpg" />
						<div class="navlabel">Nav2</div>
						<img src="/static/images/4sq.jpg" />
						<div class="navlabel">Nav3</div>
						<img src="/static/images/11sq.jpg" />
						<div class="navlabel">Nav4</div>
						<img src="/static/images/10sq.jpg" />
						<div class="navlabel">Nav5</div>
					</div>
				</div>
			</div>
			<div class="right-col col-lg-10 col-md-10 col-sm-10 col-xs-12">
			
				{% block content %}
				
				{% endblock %}
				
				
			</div>
		</div>
    </div>
</body>

</html>

