

{% block carousel %}
				<!-- Bootstrap Carousel -->
				<div class="nextArticles ">
					
					
					<div class="container">
						
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
								<h3 id="nextArticles">
									What to Read Next
								</h3>
								<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
								<span class="glyphicon glyphicon-menu-left"></span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
								<span class="glyphicon glyphicon-menu-right"></span>
								</a>
								<!-- <ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								</ol> -->
								<div class="carousel-inner">
								
							{% for article1 in all_article_list %}
								{% cycle 'start' '' '' '' as slidestart silent %}
									{% cycle '' '' '' 'end' as slideend silent %}
									{% if slidestart %}<div class="item{% if forloop.counter == 1 %} active{% endif %}"> <ul class="grid cs-style">{% endif %}
											<li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
												<figure>
													<img src="/static/images/{{article1.heroImg}}">
													<figcaption>
														<a class="" href="{{article1.id}}">{{article1.title}}</a>
													</figcaption>
												</figure>
											</li>
									{% if slideend %}</ul></div>{% endif %}

							{% endfor %}
							
								</div>
							</div>
						</div>
					</div>
					
				  
				</div>
				
				<!-- End of Bootstrap Carousel -->
					
{% endblock %}